{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presentation</h1>
    <p>Hello, my name is {{ name }} and this is a picture:</p>
    <img src="{{ asset('images/' ~ image) }}" alt="{{ name }}">
    <p>{{ description }}</p>
{% endblock %}