{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>Redovesning</h1>

            <h1>Kmom01</h1>
            <p> I learned how to program web applications in an object-oriented way with a focus on the architectural design pattern MVC in this course. To get started, I needed a foundation, and we chose the Symfony framework, which is one of the most well-known frameworks in PHP. 
            I started by installing Symfony and building a website with a controller (the C in MVC) that gave us the foundation for the course's me-page, which was supposed to contain details about me, the course, and my presentation texts. I used views to render the web pages (the V in MVC). I also tried to create a page generated with JSON, which was an embryo for learning how to build a web service with a RESTful API.
            also began to learn the basics of object-oriented programming and its structures in PHP.</p>
        </div>
    </div>
{% endblock %}