body {
    background-color: rgb(248, 205, 229);
}

.row {
    margin-top: 50px;
}

.col {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-header {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
  }
  

  body {
    background-color: #fdfdfd;
    font-family: 'Dancing Script', cursive;
    color: #4d4d4d;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: #e91e63;
    margin-top: 2rem;
}

p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.magic-number {
    font-size: 3rem;
    color: #ff4081;
    font-weight: bold;
}

footer {
    border: 10px solid;
    border-image: linear-gradient(to left, #ddb6e7, #ca2994) 1;
    border-width: 5px 0;
    border-style: solid;
    margin: 2em 0;
    padding: 1.5em 1em;
    border-top: none;
}

.quote {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 20px;
}