{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>Kmom01</h1>
            <p>I haven't had much experience with object-oriented programming, but I recently completed a course in Object-Oriented Python that covered Algorithms and Data Structures. It was a challenging and exciting experience that taught me the basics of object-oriented programming in Python.
            After exploring PHP's model for classes and objects, I noticed some similarities with Python's approach. PHP classes are also defined using the "class" keyword. Like Python, variables within a class are called properties, and functions are referred to as methods.</p>
            <p>PHP uses object-oriented programming (OOP) to organize code into objects that consist of both data (variables) and functions (methods). To get started with creating classes in PHP, one needs to understand the following basic terms and concepts: 
            classes, object, properties, Methods, Constructor and access Levels. By understanding these basic terms and concepts, one can easily get started with creating their first classes and objects in PHP.</p>
            <p>I faced several difficulties while working with the symfony framework, especially with getting my routers to function correctly, which required a considerable amount of time to resolve.</p>
            <p>I noticed that there are many new things that I got through this course, and I think that I will acquire many interesting things in the upcoming courses, and this is an excellent thing for me because I can develop myself more and more.</p>
            <p> I learned how to program web applications in an object-oriented way with a focus on the architectural design pattern MVC in this course. To get started, I needed a foundation, and we chose the Symfony framework, which is one of the most well-known frameworks in PHP. 
            I started by installing Symfony and building a website with a controller (the C in MVC) that gave us the foundation for the course's me-page, which was supposed to contain details about me, the course, and my presentation texts. I used views to render the web pages (the V in MVC). I also tried to create a page generated with JSON, which was an embryo for learning how to build a web service with a RESTful API.
            also began to learn the basics of object-oriented programming and its structures in PHP.</p>
        </div>
    </div>
{% endblock %}