{% extends 'base.html.twig' %}

{% block body %}
<div class="quote">
    {
        "quote": "{{ quote }}",
        "date": "{{ date }}",
        "timestamp": "{{ timestamp }}"
    }
</div>
{% endblock %}
